.header 
{
    padding:25px;
    
    &_link 
    {
        display: flex;
        justify-content: center;
        color:black
    }

    &_icone 
    {
        align-self:center;
    }

    &_logo 
    {
        padding-left:100px;
        padding-right:100px;
    }
}