.homepageheader 
{
    &_logo 
    {
        text-align: center;
    }    
        

    &_localisation 
    {
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to bottom, #CFCFCF, #EAEAEA 20%); 
        padding: 20px 0;
    }
        &_localisation_icone 
        {
            padding-right: 15px;
        }
}

.contenuhomepage 
{
    &_informations 
    {
        background-color: #F6F6F6;
        padding: 45px 0;

        &_title 
        {
            text-align: center;
        }

        &_paragraphe 
        {
            padding: 5px;
            text-align: center;
            opacity: 0.7;
        }
    } 
    &_steps 
    {
        padding: 35px;

        &_title 
        {
            margin: 25px;
            font-size: 25px;
        }

        &_step 
        {
            display: flex;
            padding: 15px;
            align-items: center;
           
            &_number 
            {
                transform: translate(10px, 0px);

                &--rounded 
                {
                    height: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 40px;
                    background: $colour-primary;
                    width: 23px;
                    color: $colour-quaternary;
                    font-size: 15px;
                }
            }

            &_iconeT
            {
                display: flex;
                width: 100%;
                background-color: #F6F6F6; 
                box-shadow: 0 10px 10px 10px #E6E6E6;

                &:hover
                {
                    background:rgba(147, 86, 220, 0.15);
                    cursor: pointer; 
                }

                &--rounded 
                {
                    padding: 20px;
                    border-radius: 20px;
                }
                
                &_icone 
                {
                    width: 60px;
                    align-self: center;
                    display: flex !important;
                    justify-content: center;
        
                    &--grey 
                    {
                        color: #7E7E7E;
                    }
    
                    &--purple 
                    {
                        color: $colour-primary;
                    }
                }
            }
        }    
    }


    &_restaurants 
    {
        background-color: #F6F6F6;
        padding:30px;

        &_title 
        {
          margin:25px;
          font-size:25px;
        }

        &--flex
        {
           padding: 0px; 
        }

        &_links 
        {
        color: black;
        }

        &_card {
            padding: 0px 5px;


            &_imageText
            {
                margin-left: auto;
                margin-right: auto;
                position:relative;
                top: 25px;
                
                
                 &_image
                {   width:100%; 
                    border-top-right-radius: 20px;
                    border-top-left-radius: 20px;
                    &_new
                    {
                        width:100%; 
                        border-top-right-radius: 20px;
                        border-top-left-radius: 20px; 
                    }

                }

                &_text 
                {
                    position: relative;
                    width:10%;
                    left: 50%;
                    transform: translate(200px, -350px);
                    background-color: $colour-tertiary;
                    color: #008766;
                    padding: 10px;
                    border-radius: 3px;
                    font-weight: bold;
                    text-align:center;
                }
            }
            &_informations
            {
                background-color: $colour-quaternary;
                border-bottom-right-radius: 20px;
                border-bottom-left-radius: 20px;
                box-shadow: 0px 20px 20px #E6E6E6;
                display: flex;
                justify-content: space-between;
                padding: 4%;
                line-height:0;
                transform: translate(0px,-35px);
                
                &_title
                {   
                    &_paragraphe
                    {
                        opacity: 0.6;
                    }    
                }
                &_button_jauge
                {
                    transform: translate(0px, 10px);
                }        
            }    
        }       
    }  
}