
body
{
    padding: 0;
    margin: 0;
}

#conteneur
{
    width: 800px;
    margin: 50px auto;
    border-right-style: groove;
}

a
{
    text-decoration: none;
}

li
{
    list-style-type: none;
}

